.main-header{
  
    background-color: #8d59a0;
    color: white;
    text-align: center;
    padding-bottom: 120px;
}
.header__text{
    font-weight: bold;
    font-size: 42px;
}
.flex-wrapper{
    display: flex;
    justify-content: space-between;
}
.menu-bar__list{
display: flex;
justify-content: flex-end;
align-items: flex-end;
}
.menu-bar{
    padding: 50px 0px;
    background-color: #8d59a0;
    box-sizing: border-box;
}
.menu__item a{
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 18px;
    color: white;
}
.menu__item{
    text-transform: uppercase;
    margin-left: 20px;
    box-sizing: border-box;
}
.menu__item a:hover{
    background-color: #6c3a80; 
    text-decoration: none;
    transition: 0.7s;
    border-radius: 5px;
}

.header_button{
    background-color: #eb7d4b;
    box-shadow: 0 5px 1px rgb(200,106,64);  
}
.header__text{
    margin-top: 139px;
}
@media (max-width: 377px){
    .menu{
        display: block;
    }
    .flex-wrapper{
        display: block;
    }
    .menu-bar-list{
        display: flex;
    }
    .menu__item a{
        padding: 2px;
    }
    .logo-img-wrapper{
       display: block;
       text-align: center;
       padding-bottom: 20px;
    }
    .header__text{
        margin: 0;
    }

}