.block5{
    background-color: #ffdd99;
    padding-bottom: 120px;
    padding-top: 110px;
}
.block5__ul{
    display: flex;
    justify-content: center;
}
.block5__ul__item{
    display: block;
    width: 75px;
    height: 30px;
    margin: 5px;
    box-sizing: border-box;
    background-color: #ebc985;
    text-align: center;
    font-weight: lighter;
    border-radius: 4px;
    text-transform: uppercase;
    padding-top: 2px;
    cursor: pointer;
}
.block5__ul__item a{
    color:#534f46;
    text-decoration: none;
}
.block5__ul__item:hover{
    background-color: #fff;
    transition: 0.7s;
}
.portfolio__ul{
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
}
.portfolio__ul__item p{
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    padding-top: 25px;
}
.portfolio__ul__item{
    margin-right: 14px;
   
}
.button-block5{
    background-color: #17c2a4;
    box-shadow: 0 5px 1px rgb(20,165,140);
}
.button-block5:hover{
    background-color:#09a084;
    box-shadow: 0 5px 1px rgb(3, 63, 53);
}
.block5__text__p-mod{
    padding-bottom: 20px;
}
@media (max-width: 377px){
   
    .portfolio-image{
        width: 300px;
        display: block;
        margin-left: 12px;
    }
    .portfolio__ul{
        display: block;
    }
    .portfolio__ul__item{
        margin-left: 14px;
        padding-top: 20px;

    }
    .portfolio__ul__item p{
        padding-top: 10px;
    }
    .block5__text__p{
        padding-bottom: 20px;
    }
}
@media screen and (min-width: 377px) and (max-width: 576px){
    .portfolio-image{
        width: 350px;
    }
    .portfolio__ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .portfolio__ul__item{
        padding-top: 20px;
        margin-right: 0;
    }
}
@media screen and (min-width: 577px) and (max-width: 769px){
    
    .portfolio__ul{
    display: block;
    }
    .portfolio__ul__item{
        padding-top: 20px;
        margin-right: 0;
    }
    .portfolio__ul__item p{
        padding-top: 10px;
    }
    .block5__text__p{
        padding-bottom: 20px;
    }
    .portfolio-image{
        width: 400px;
    }
    .portfolio__ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 769px) and (max-width: 992px){
    .portfolio-image{
        width: 340px;
        
    }
    .portfolio__ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .portfolio__ul__item{
        margin-left: 7px;
        margin-right: 7px;
    }
}
@media screen and (min-width: 993px) and (max-width: 1200px){
   .portfolio-image{
       width: 400px;
   }
   .portfolio__ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.portfolio__ul__item{
    margin-left: 7px;
    margin-right: 7px;
}
    }