.main-footer{
    background-color: #344b8e;
}
.main-footer__ul__item a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.main-footer__ul{
    display: flex;
    justify-content: space-around;
}
.main-footer__ul__item{
    padding: 30px;
}
.main-footer__ul__item a:hover{
  color: #30bae7;
  transition: 0.7s;
}
@media (max-width: 377px){
    .container{
        width: 360px;
        padding-right: 5px;
        padding-left: 5px;
     
    }
    .main-footer__ul__item{
        padding: 2px;
      
    }
    .main-footer__ul__item a{
        font-size: 13px;
    }
}
@media (max-width: 768px){
    .container{
        width: 360px;
        padding-right: 5px;
        padding-left: 5px;
     
    }
    .main-footer__ul__item{
        padding: 30px 10px;
    }
}
