.block4{
    padding-bottom: 120px;
    padding-top: 110px;
    background-color: white;
}
.block4__ul{
    display: flex;
    justify-content: space-around;
}
.block4__ul__item > p{
    font-size: 20px;
    padding-top: 140px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    
}
.block4__ul__item > .c100{
    margin: 0;
    top: 9%;
    left: 17%;
}
.block4__ul__item{
    display: block;
    width: 186px;
}
.block5_button{
    display: block;
    width: 300px;
    height: 70px;
    background-color: #17c2a4;
    color: #fff;
}
@media (max-width: 377px){
 
    .block4__ul{
        display: block;
    }
    .block4__ul__item{
        text-align: center;
        margin-left: 80px;
        margin-right: 0;
        padding-top: 20px;
    }
}