.block2__ul{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-content: center;
    padding-top: 20px;
    padding-bottom: 100px;
    
}
.block2__ul__item{
    display: block;
    align-self: center;
    padding: 30px;
}
.block2__text{

    font-size: 40px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 48px;
}
.block2__text::after
{
    content: "";
    display: block;
    
   margin: 0 auto;
   margin-top: 10px;
    width: 107px;
    height: 4px;
    background: black;
    opacity: 0.15;
}
.block2__text_p{
    font-size: 20px;
    text-align: center;
}
.block2{
    background-color: #17c2a4;
    color: whitesmoke;
    font-weight: lighter;
}
.block2__ul__item img{
    height: 134px;
}
