.block7{
    background-color: #3c5499;
    color: white;
    padding-bottom: 120px;
    padding-top: 110px;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}
.block7__form__item{
    width: 306px;
    height: 40px;
    margin: 20px;
    padding: 20px;
    color: white;
    background-color: #273a71;
    border: none;
    border-radius: 4px;
    
}
.block7__form__item::placeholder,
.block7__form__item__textarea::placeholder{
    color: white;
}

.block7__form__item__textarea{
    width: 660px;
    border: none;
    height: 160px;
    border-radius: 4px;
    padding: 20px;
    background-color: #273a71;
    color: white;
}
.flex-item-last{
    width: 1000px;
}
.block7-button{
    background-color: #30bae7;
    box-shadow: 0 5px 1px rgb(41,158,197);
}
.block7-button:hover{
    background-color: #1d9cc7;
    box-shadow: 0 5px 1px rgb(26, 124, 156); 
}
@media screen and (max-width: 377px){
    
    .block7__form__item{
  margin: 0;
    }
    .block7__form__item__textarea{
        max-width: 305px;
    }
}
@media screen and (min-width: 377px) and (max-width: 576px){
    .block7__form__item{
        max-width: 400px;
        margin: 5px 0px;
        }
        .block7__form__item__textarea{
            max-width: 350px;
        }
        }
@media screen and (min-width: 577px) and (max-width: 769px){

.block7__form__item{
width: 205px;
}
.block7__form__item__textarea{
    width: 500px;
}
}
@media screen and (min-width: 769px) and (max-width: 992px){
    .block7__form__item{
        width: 300px;
    }
}

