.block3{
    background-color: #e7f1f8;
    color: #3c4761;
    padding-top: 110px;
    padding-bottom: 120px;
    text-align: center;
}
.block3__ul{
display: flex;
justify-content: space-around;
}
.block3__ul__item{
    padding-left: 20px;
    padding-right: 20px;
}
.block3__ul__item__img{
 border-radius: 50%; 
}

.block3__ul h2{
    font-size: 26px;
    padding-bottom: 3px;
    padding-top: 33px;
    text-transform: uppercase;
}
.block3__ul p{
    font-size: 17px;
    font-weight: lighter;
}
.block3__ul__item__p_blue{
    color: #79d0ee;
    font-weight: lighter;
}
.socialbutton_ul{
    padding: 0px 35px;
    display: flex;
    justify-content: space-around;
}
.socialbutton_ul__item{
    display: block;
    width: 35px;
    height: 35px;
    background-color: #bdd1df;
border-radius: 50%;
padding: 3px;
margin-left: 2px;
margin-right: 2px;
border: none;
cursor: pointer;
}
.socialbutton_ul__item> img{
    padding: 6px;
}
.socialbutton_ul__item:hover{
background-color: #87a0b1;
transition: 0.7s;

}
@media screen and (max-width: 376px){
    .block3__ul{
        display: block;
    }
    .socialbutton_ul{
        padding-left: 60px;
        padding-right: 60px;
    }
}
@media screen and (min-width: 769px) and (max-width: 992px){
    .block3__ul
    {
        flex-wrap: wrap;
    }
    .block3__ul__item{
        width: 340px;
    }
    .socialbutton_ul{
        padding-left: 70px;
        padding-right: 70px;
        padding-bottom: 20px;
    }
}
@media screen and (min-width: 576px) and (max-width: 769px){
  
    .block3__ul{
flex-direction: column;
align-items: center;
    }
    .socialbutton_ul{
        padding-left: 70px;
        padding-right: 70px;
        padding-bottom: 20px;
    }
    .block3__ul__item{
        width: 250px;
    }
}